<table>
	<tr>
		<th>User</th>
		<th>LOLcount</th>
	</tr>
	<% @users.each do |user| %>
		<tr>
			<td><img src="http://img.tweetimag.es/i/<%= user.screen_name %>_m" /> <%= link_to user.screen_name, user_path(user.screen_name) %></td>
			<td><%= user.lol_count %></td>
		</tr>
	<% end -%>
</table>